{% extends "basetemplate.html" %}
{% block title %}Listas de Sucursales{% endblock %}
{% block content %}
<body>
    <h1>Sucursales</h1>
    <hr/>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>numero</th>
                    <th>provincia</th>
                    <th>localidad</th>
                    <th>direccion</th>
                </tr>
            </thead>
            <tbody>
                {%for sucursal in sucursales %}
                <tr>
                    <td>{{sucursal.id}}</td>
                    <td>{{sucursal.numero}}</td>
                    <td>{{sucursal.provincia}}</td>
                    <td>{{sucursal.localidad}}</td>
                    <td>{{sucursal.direccion}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br></br>
    </div>

</body>
{%endblock%}