{% extends "basetemplate.html" %}
{% block title %}Listas de Sucursales{% endblock %}
{% block content %}
<body>
    <h1>Sucursales</h1>
    <hr/>
    <form action="{{ request.path }}"" method="POST" class="container">
        {% if sucursales is not none :%}
        <label for="sucursales">Sucursal</label><br>
        <select  id="sucursales" name="sucursales" width="500px"> 
            {%for sucursal in sucursales%}
            <option value="{{sucursal.id}}">{{sucursal.numero}} {{sucursal.provincia}} {{sucursal.localidad}} {{sucursal.direccion}}</option>
            {%endfor%}
        </select>
        <br><br>
        <input class="button1" type="submit" value="Menu">
        {% else %}
        <a href="{{url_for('menu')}}">Menu</a>

        {% endif %} 	   

     

</body>
{%endblock%}