{% extends "basetemplate.html" %}
{% block title %}Listas de Sucursales{% endblock %}
{% block content %}
<body>
    <h1>Sucursales</h1>
    <hr/>
    <form action="{{ request.path }}"" method="POST" class="container">
        {% if sucursales is not none :%}
        <label for="sucursales">Sucursal</label><br>
        <select  id="sucursales" name="sucursales" width="500px"> 
            {%for sucursal in sucursales%}
            <option value="{{sucursal.id}}">{{sucursal.numero}} {{sucursal.provincia}} {{sucursal.localidad}} {{sucursal.direccion}}</option>
            {%endfor%}
        </select>

        <br><br>
        <input class="button1" type="submit" value="Menu">
        {% else %}
        <h1>Opciones</h1>
        <td><a href="{{url_for('registrar_paquete')}}">Registrar un paquete</a></td>
                
        <td><a href="{{url_for('registrar_salida')}}">Registrar salida de transporte</a></td>
        <td><a href="{{url_for('registrar_llegada')}}">Registrar la llegada de un transporte</a></td>

        {% endif %} 	   

     

</body>
{%endblock%}