<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="{{url_for('static', filename= 'css/estilos.css')}}">
            <title>Flask</title>
        </head>
        <body>
            <h1>Bienvenido</h1>
            <form action="http://localhost:500/menu" method="post">
                <label for="usuario">Usuario</label><br>
                <input type="text" name="usuario" placeholder="Usuario"/><br>
                <label for="password">Contraseña</label><br>
                <input type="text" name="password" placeholder="password"/><br>
            </form>
            <p>Esto es una página web</p>
        </body>
    </html>