{% extends "basetemplate.html" %}
{% block title %}Registrar llegada de un transporte{% endblock %}
{% block content %}
<body>
    <h1>Paquetes</h1>
    <hr/>
    <form action="{{ request.path }}" method="POST" class="container">
        {%if transportes is not none%}
       
                    <label for="transportes">Transporte</label><br>
                    <select  id="transportes" name="transportes" width="500px">

                            {%for transporte in transportes%}
                            <option value="{{transporte.id}}">Numero:{{transporte.numerotransporte}} Fecha:{{transporte.fechahorasalida}} </option>
                            {%endfor%}
                        </select>

                    <br><br>
                    <input class="button1" type="submit" value="Registrar Llegada">
           {%else%}
    <h1>  la operacion finalizo con exito  </h1>

    </form>

{%endif%}
</body>
{%endblock%}
